[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
flask = "*"
requests = "*"
paramiko = "*"
scp = "*"
chardet = "*"
pyyaml = "*"
"ruamel.yaml" = "*"
 
[requires]
python_version = "3.12"
